body{
    background-color: #076407;
    color:#daa520;
}
header {
    background-color:#169c1c;
    color:#daa520;
}
main{
    background-color:#008000 ;
    color :black;
}
section{
    background-color:#14990357 ;
    color:#1bd10371
}
footer{
    background-color: rgb(250, 250, 250);
    color:#023302;
}